<style>
  div#mean_nav {
    display: none;
  }
</style>
<!--  Início Chamada Section  -->
<section class="cta" id="inscricao">


<!--  End Chamada Section  -->
    <div class="row" data-equalizer>

        <div class="medium-12 columns">
            <div class="profile-card">
            <!--    Início CTA Titles    -->
            <h1 class="title">Deseja submeter o seu trabalho?</h1>
            <h2 class="sub_title">Que tal conferir nosso edital antes?</h2>
            <!--    End CTA Titles    -->

            <!--    Início Button    -->
            <%= link_to('Confira!', "https://www.dropbox.com/s/2yffe4ca91w52w7/artigo-sinfo?dl=0", class: 'button large')%>
                <!--    End Button    -->
            </div>
        </div>
    </div>
</section>


<%= render partial: "rodape/rodape" %>