<style>
  div#scroll {
    display: none;
  }
</style>
<!--  Início Chamada Section  -->
<section class="cta" id="inscricao">


<!--  End Chamada Section  -->
    <div class="row" data-equalizer>

        <div class="medium-12 columns">
            <div class="profile-card">
            <!--    Início CTA Titles    -->
            <h1 class="title">Deseja submeter o seu trabalho?</h1>
            <h2 class="sub_title">Confira o edital e utilize nosso template!</h2>
            <!--    End CTA Titles    -->

            <!--    Início Button    -->
            <%= link_to('Edital', "https://www.dropbox.com/s/oz5kkkzs4wr3y23/Edital%20Sinfo%202016.pdf?dl=0", class: 'button large')%>
            <!--    End Button    -->

            <!--    Início Button    -->
            <%= link_to('Template', "https://www.dropbox.com/s/7lknfv3jjvhia8x/Template%20Sinfo%202016.doc?dl=0", class: 'button large')%>
            <!--    End Button    -->
            </div>
        </div>
    </div>
</section>


<%= render partial: "rodape/rodape" %>