  <% flash.each do |key, value| %>
    <div class="callout <%= key %> fade in" data-closable>
      <div class="alert alert-"><%= value %></div>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
  <% end %>