<!--<h1>Painel para o usuario logado no sistema</h1>-->
<ul class="menu">
  <li>
    <%= link_to('Editar cadastro', edit_user_registration_path) %>
  </li>
  <li>
    <%= link_to('Gerar Boleto', create_path) %>
  </li>
</ul>
