<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
<h1>Editar contato</h1>

<%= render 'form' %>

<%= link_to 'Show', @contact %> |
<%= link_to 'Voltar', contacts_path %>
  </div>
</div>
