<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
<h1>Editar Curso</h1>

<%= render 'form' %>

<%= link_to 'Show', @course %> |
<%= link_to 'Voltar', courses_path %>
  </div>
  </div>