<!--  Início Rodapé Section  -->
<footer>
    <div class="row">

        <!--    Início Copyrights    -->
        <div class="small-12 medium-4 large-4 columns">
            <div class="copyrights">
                <a class="logo" href="#">
                    <h1>Sinfo<span class="tld">.com</span></h1>
                </a>
                <p>Copyright © 20015-2015 SINFO.</p>
            </div>
        </div>
        <!--    End Copyrights    -->


        <div class="small-12 medium-8 large-8 columns">
            <div class="contact_details right">
                <nav class="social">
                    <ul class="no-bullet">
                        <li><a href="https://www.facebook.com/sinfoufpi" target="_blank">Facebook</a></li>
                        <li><a href="http://instagram.com/sinfoufpi" target="_blank">Instagram</a></li>
                        <li><a href="http://twitter.com/sinfoufpi" target="_blank">Twitter</a></li>
                        <li><a href="http://plus.google.com/sinfoufpi" target="_blank">Google+</a></li>
                    </ul>
                </nav>

                <div class="contact">
                    <div class="details">
                        <p>sinfovi@gmail.com</p>
                    </div>

                    <p class="adress">UFPI | Campus Senador Helvídio Nunes de Barros<br>Rua Cícero Duarte - n. 905 - Bairro Junco - Picos - PI</p>
                </div>
            </div>
        </div>

    </div>
</footer>
<!--  End Rodapé Section  -->
