/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application.wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 
 .callout {
     margin: 0;
 }
.fade.in {
    opacity: 1;
}

.callout.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.callout.notice {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.callout.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.callout.error, .callout.alert {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}


.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}